# Dependencies
node_modules/
*/node_modules/

# Production build outputs
.next/
out/
dist/
build/

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Large Archives & Temp files
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
Thumbs.db
